# Trūkstamų duomenų tvarkymas

In [ ]:
# Kaip rasti trūkstamas reikšmes?
df.isna()                # Parodo, kur yra NaN
df.isna().sum()          # Suskaičiuoja trūkstamas reikšmes kiekviename stulpelyje

#Kaip pašalinti trūkstamas reikšmes?
df.dropna()              # Pašalina eilutes su bent viena NaN reikšme
df.dropna(axis=1)        # Pašalina stulpelius, kuriuose yra bent viena NaN
df.dropna(inplace=True)  # Pakeičia df tiesiogiai

#Kaip užpildyti trūkstamas reikšmes?
df.fillna(0)                          # Visus NaN pakeičia į 0
df.fillna("Nežinoma")                # Visus NaN pakeičia į tekstą

df.fillna({"Name": "Nėra", "Age": 0})
df["Age"].fillna(df["Age"].mean(), inplace=True)

In [4]:
# Example
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["Anna", np.nan, "Jonas"],
    "Age": [28, 34, np.nan],
    "City": [np.nan, "Kaunas", "Vilnius"]
})

print(df.isna().sum())

df["Name"].fillna("Nežinomas", inplace=True)
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["City"].fillna("Nežinomas", inplace=True)

print(df)

In [7]:
# isna() - isna() yra Pandas metodas, kuris padeda rasti trūkstamas reikšmes (NaN) duomenų lentelėje (DataFrame) arba stulpelyje (Series).
df = pd.DataFrame({
    "Name": ["Anna", np.nan, "Jonas"],
    "Age": [28, np.nan, 34]
})
print(df)
print(df.isna())
print(df.isna().sum())

    Name   Age
0   Anna  28.0
1    NaN   NaN
2  Jonas  34.0
    Name    Age
0  False  False
1   True   True
2  False  False
Name    1
Age     1
dtype: int64

In [26]:
#dropna() metodas pašalina trūkstamas reikšmes (NaN turinčias eilutes arba stulpelius) iš DataFrame. Naudojamas, kai nori atsikratyti duomenų su tuščiomis reikšmėmis.
df = pd.DataFrame({
    "Name": ["Anna", np.nan, "Jonas", "Laura"],
    "Age": [28, np.nan, 34, 45],
    "City": ["Vilnius", "Kaunas", np.nan, np.nan]
})
#print(df)
#print(df.dropna()) # Pašalina eilutes, kuriose bent viena reikšmė yra NaN
df = df.dropna(axis=0)
#df = df.dropna(how="all") # Pašalina tik tas eilutes, kur visos reikšmės yra NaN
print(df)

   Name   Age     City
0  Anna  28.0  Vilnius